body { margin: 3px; font-size: 12px; overflow:hidden; }
.mainBox{ border:1px solid #98989C; margin-left:auto; margin-right:auto; height:99%; }
.dialog { border:1px solid #98989C; margin-left:auto; margin-right:auto; height:99%; overflow:hidden; padding:10px; }
.dialog Form\:Box { padding-left: 10px;  padding-top: 10px;}
.dialog .bt { padding-left: 10px;  padding-top: 10px;}