body { margin: 3px; font-size: 12px; overflow:hidden; }
.mainBox{ border:1px solid #98989C; margin-left:auto; margin-right:auto; height:99%; }
.dialog { border:1px solid #98989C; margin-left:auto; margin-right:auto; height:99%; overflow:hidden; padding:10px; }
.dialog Form\:Box { padding-left: 10px;  padding-top: 10px;}
.dialog .bt { padding-left: 10px; padding-top: 10px;}

.btWeak    { color: #403756; width: 50px; height: 18px; border: 0; background-image: url(../images/button/weak.gif); }
.btWeakS   { color: #403756; width: 18px; height: 18px; border: 0; background-image: url(../images/button/weak_short.gif); }
.btWeakL   { color: #403756; width: 90px; height: 18px; border: 0; background-image: url(../images/button/weak_long.gif); }
.btStrong  { color: #2F2469; width: 50px; height: 18px; border: 0; background-image: url(../images/button/strong.gif); }
.btStrongS { color: #2F2469; width: 18px; height: 18px; border: 0; background-image: url(../images/button/strong_short.gif); }
.btStrongL { color: #2F2469; width: 90px; height: 18px; border: 0; background-image: url(../images/button/strong_long.gif); }