
#grid{
	position:relative;
	background-color:transparent;
	width:100%;
	height:100%;
}
#gridBox {
	position:absolute;
	border:1px solid #96969E;
	background-color:#FFFFFF;
	padding-top:21px;
	width:100%;
	height:100%;
}

#gridBox .cell td, #gridBox .header td{
	border-style:solid;
	border-color:#FFFFFF #96969E #96969E #FFFFFF;
	font-size:12px;
	overflow:hidden;
	text-overflow:ellipsis;
}
#gridBox .cell td {
	background-color:#F7F8FD;
}
#gridBox .column{
	text-align:center;
	border-style:solid;
	border-color:#FFFFFF #96969E #96969E #FFFFFF;
	font-size:12px;
	background-color:#E4E6F5;
}
.highlightCol {
	background-color:#FFFFCC;
}
.highlightRow td {
	background-color:#FEF7A9;
}
.rolloverRow {
	background-color:#FFFFFF;
}

Grid2\:Grid .rule {
	overflow:hidden;
	position:absolute;
	z-index:100;
	border:1px dotted #464646;
	cursor:hand;
}
Grid2\:Grid .menuItem{
	font-size:12px;
	height:20;
	padding-top:4px;
	padding-left:4px;
	padding-right:0px;
	margin-left:20px;
	margin-right:0px;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	word-break:keep-all;
}
Grid2\:Grid .separator{
	margin-left:24PX;
	margin-top:1;
	margin-bottom:2;
	height:2;
	border-bottom:1px solid #CCCCCC;
	line-height:1;
	font-size:1;
	overflow:hidden;
}
.scrollbar{
}
Grid2\:Grid .searchResult td{
	background-color:#FFFFCC !important;
}
Grid2\:Grid #searchInfo{
	border:1px solid black;
	background-color:#FFFFEE;
	padding:2px;
	font-size:12px;
	width:160px;
	height:32px;
}
Grid2\:Grid .alt{
	border:1px solid black;
	background-color:#FFFFEE;
	font-size:12px;
	position:absolute;
	padding:2px;
}


Grid2\:Grid input{
	border-width:0px;
}

Grid2\:Grid .track{
	border-color:#F7F8FD;
	border-style:none;
}
