html {
  box-sizing: content-box;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  background-color: #fff;
  color: #555;
}
table {
  width: 100%;
  height: 100%;
}
.panel > tbody > tr > td:nth-child(1),
.panel > tbody > tr > td:nth-child(4) {
  width: 0px;
}
.panel .header,
.panel .footer {
  height: 0px;
}
/* .panel .body td.groove { border: 1px solid @borderColor; height: 100%; } */
.panel .body td.groove .hasframe {
  height: 100%;
}
.panel .body td.groove #ws .hastree {
  vertical-align: top;
}
.panel .body td.groove {
  position: relative;
}
.panel .body td.groove WorkSpace\:Page {
  border: 0;
}
#gridContainer {
  vertical-align: top;
}
/* 左栏 */
#palette {
  width: 250px;
  padding-right: 2px;
}
#palette > div {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 250px;
  border-left: 1px solid #95B8E7;
  border-right: 1px solid #95B8E7;
}
#palette > div .bar {
  height: 19px;
  padding: 2px 0 0 4px;
  line-height: 17px;
  background-color: #BEC6EE;
  color: #555;
  font-weight: bold;
}
#palette > div .bar .search #searchKey {
  width: 80px;
  text-indent: 2px;
}
#palette > div .bar .icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background: url(../images/panel/title_icon.gif) no-repeat center;
}
#palette > div .bar .refreshTreeBT {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  background: url(../images/panel/refresh.gif) no-repeat center;
}
#palette #tree {
  height: auto;
  min-height: 90%;
  max-width: 235px;
  background-color: #fff;
}
div.groove {
  border-left: 1px solid #95B8E7;
  border-top: 1px solid #95B8E7;
  padding: 3px;
}
.btWeak {
  color: #403756;
  width: 50px;
  height: 18px;
  border: 0;
  background-image: url(../images/button/weak.gif);
}
.btWeakS {
  color: #403756;
  width: 18px;
  height: 18px;
  border: 0;
  background-image: url(../images/button/weak_short.gif);
}
.btWeakL {
  color: #403756;
  width: 90px;
  height: 18px;
  border: 0;
  background-image: url(../images/button/weak_long.gif);
}
.btStrong {
  color: #2F2469;
  width: 50px;
  height: 18px;
  border: 0;
  background-image: url(../images/button/strong.gif);
}
.btStrongS {
  color: #2F2469;
  width: 18px;
  height: 18px;
  border: 0;
  background-image: url(../images/button/strong_short.gif);
}
.btStrongL {
  color: #2F2469;
  width: 90px;
  height: 18px;
  border: 0;
  background-image: url(../images/button/strong_long.gif);
}
.loading {
  width: 53px;
  height: 20px;
  background: url(../images/loading.gif) no-repeat 3px 3px;
}
.separator {
  height: 6px;
  background: url(../images/sep_line.gif) repeat-x center;
  overflow: hidden;
}
.l {
  border-left: 1px solid #95B8E7;
}
.t {
  border-top: 1px solid #95B8E7;
}
.b {
  border-bottom: 1px solid #95B8E7;
}
.r {
  border-right: 1px solid #95B8E7;
}
/* 用户组、用户、角色关系维护 */
.titleBox {
  height: 20px;
  background-color: #E0ECFF;
}
.btnBox {
  height: 50px;
  background-color: #E0ECFF;
}
.btnBox td {
  vertical-align: top;
}
.btnBox WorkSpace\:PageStep {
  padding: 2px 0;
}
td.mbar {
  width: 20px;
  background-color: #E0ECFF;
}
td.mbar input {
  margin-bottom: 100px;
  width: 20px;
  border: 0;
  line-height: 30px;
  background-color: #049cdb;
  color: #fff;
}
td.mbar input:hover {
  cursor: pointer;
  background-color: orange;
}
/* 弹层相关 */
.dialog {
  position: absolute;
  top: 100px;
  margin: 0 auto;
  padding-bottom: 5px;
  overflow: auto;
  border: 1px solid #95B8E7;
  background-color: #fff;
}
.dialog h2 {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-indent: 5px;
  letter-spacing: 1px;
  background-color: #049cdb;
  color: #fff;
}
.dialog .tssForm {
  padding: 3px 0;
}
.dialog Tree {
  height: 80%;
}
.dialog .bts {
  padding: 5px 0 5px 20px;
}
.dialog .bts input {
  margin-right: 10px;
}
#popupForm {
  padding: 5px 15px;
}
.hiddenWS {
  display: none;
  position: absolute;
  bottom: 0;
  min-height: 100px;
  z-index: 100;
}
.fileUpload {
  height: 236px;
  width: 300px;
  position: relative;
  background: url(../images/upload.png) no-repeat 25px bottom;
}
.fileUpload input[type='file'] {
  height: 236px;
  width: 256px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#importDiv input[type='button'] {
  margin-left: 40px;
  margin-top: 5px;
}
