
Grid\:Box {
	position:absolute;
	border:1px solid #96969E;
	background-color:#FFFFFF;
	padding-top:0px;
	width:100%;
	height:100%;
	font-size:12px;
	font-family: "宋体";
}

Grid\:Box .cell {
	background-color:#F7F8FD;	
}

Grid\:Box .cell td, Grid\:Box .header td {
	border-style:solid;
	border-color:#FFFFFF #96969E #96969E #FFFFFF;	
	border-width: 1 1 1 1;
	overflow:hidden;
	text-overflow:ellipsis;
	height:22px;
}

Grid\:Box .column {
	text-align:center;
	border-style:solid;
	border-color:#FFFFFF #96969E #96969E #FFFFFF;
	border-width: 1 1 1 1;
	background-color:#E4E6F5;
	height:25px;
}

Grid\:Box .highlightCol {
	background-color:#FFFFCC;
}

Grid\:Box .highlightRow td {
	background-color:#FEF7A9;
}

Grid\:Box .rolloverRow {
	background-color:#bed742;
}

