  Calendar\:CalendarBox {
    width:100%;
    padding:5px;
    cursor:default;
  }
  Calendar\:CalendarBox select {
    font-size:11px;
  }
  Calendar\:CalendarBox table {
    border-collapse:collapse;
  }
  Calendar\:CalendarBox .day {
    color:#CC0000;
    font-size:24px;
    line-height:22px;
    font-weight:bold;
    font-family:Times New Roman;
    text-align:right;
    height:24px;
    width:100%;
    padding-right:5px;
  }
  Calendar\:CalendarBox .calendarHeader {
    
  }
  Calendar\:CalendarBox .calendarHeader td {
    text-align:center;
    padding-top:2px;
  }
  Calendar\:CalendarBox .calendarBody {
    
  }
  Calendar\:CalendarBox .calendarBody td {
    font-family:Verdana;
    font-size:10px;
    text-align:center;
    height:14px;
  }
  Calendar\:CalendarBox .calendarBody td.active {
    background-color:#FEF7A9;
  }
  Calendar\:CalendarBox .calendarBody td.today {
    color:#FFFFFF;
    font-weight:bold;
    background-color:#84C4EA;
  }
  Calendar\:CalendarBox .calendarBody td.note {
    background-image:url(note.gif);
    background-position:left top;
    background-repeat:no-repeat;
  }
  Calendar\:CalendarBox .calendarBody td.prev {
    color:#999999;
    background-color:#E4E6F5;
  }
  Calendar\:CalendarBox .calendarBody td.next {
    color:#999999;
    background-color:#E4E6F5;
  }