.xform {
    width:100%;
    font-size:12px;
}
.xform .contentBox{
    overflow:auto;
    SCROLLBAR-FACE-COLOR: #E5E9F2;
    SCROLLBAR-HIGHLIGHT-COLOR: #E5E9F2;
    SCROLLBAR-SHADOW-COLOR: #E5E9F2; 
    SCROLLBAR-3DLIGHT-COLOR: #A4B9D7; 
    SCROLLBAR-ARROW-COLOR:  #000000; 
    SCROLLBAR-TRACK-COLOR: #eeeee6; 
    SCROLLBAR-DARKSHADOW-COLOR: #A4B9D7;
}
.xform .contentBox td{
    font-size:12px;
    border-style:solid;
    border-color:#A4B9D7;
    border-width:0 0 0 0;
    padding:1px 3px;
}
.xform .contentBox table{
    border-style:solid;
    border-color:#A4B9D7;
    border-width:0 0 0 0;
}
.xform .titleBox{
    border-style:solid;
    border-color:#A4B9D7;
    border-width:1 1 0 1;
    font-weight:bold;
    position:relative;
}

.xform input{
    color:#535458;
    font-size:12px;
    height:18px;
    border:1px solid #ABAAAF;
    background-color:#ECEFF8;
}
.xform textarea{
    color:#535458;
    font-size:12px;
    word-break:break-all;
    border:1px solid #ABAAAF;
    background-color:#ECEFF8;
}
.xform .title{
    height:20px;
    background-image:url(icon/titlebg.gif);
}
.xform .button{
    background-color:#E4EBF3 !important;
    border-style:outset !important;
}

.xform input.boolean{
    border:0px;
    background-color:transparent;
    margin-left:-4px;
}
.xform input.function,.xform input.date{
    padding-right:18px;
}
.xform select{
    font-size:12px;
    height:18px;
}
.xform .radio{
    border:0px;
    background-color:transparent;
}

.xform .string_disabled{
    border:1px dotted #ABAAAF;
    background-color:transparent;
}

.xform .function_disabled{
    border:1px dotted #ABAAAF;
    background-color:transparent;
}

.xform .date_disabled{
    border:1px dotted #ABAAAF;
    background-color:transparent;
}
.xform .bt_disabled{
    display:none;
}
.xform .plus,.xform .subtract{
    cursor:hand;
    font-size:12px;
    font-family:Courier New;
    padding-left:3px;
}
.xform .plus{
    color:#999999;
}
.xform .subtract{
    color:#999999;
}