html { height:100%; }   
body { color: #000000; height:100%; margin:0; padding:0; } 

.dmsbt {
    position: absolute; top:5px; left: 5px; width: 80px; height: 30px;
    border: 1px solid #88D0E7; background: #0C6F73;
    box-shadow: #3a3c42 0 1px 0 inset; border-radius: 3px;
    font-size: 16px; font-family:"微软雅黑"; color: #fff; cursor: pointer;
}
.dmsbt:hover { font-weight: bold; }