<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>    
<meta charset="UTF-8">
<title>时空互钻</title>

<link href="common.css" rel="stylesheet">

<script src="../../../tools/tssJS/tssJS.all.js"></script>
<script src="common.js"></script>
<script src="../../../tools/echarts/echarts-all-2.1.10.js"></script>
<script src="echart.js"></script>

<script type="text/javascript">

var autoSize, title, data;

window.onresize = show;

window.onload = function() {
	initResearhBt();

	var globalValiable = window.parent.globalValiable;
	if(globalValiable && globalValiable.data) {
		title = globalValiable.title;
		data = globalValiable.data
		show();
		return true;
	}

	title = "货量";
	$.ajax({
		url : "data/2.json",
		method : "GET",
		type : "json",
		waiting : true,
		ondata : function() {
			data = this.getResponseJSON();
			show();
		}
	});	  
}

function show() {	
 	autoAdjustSize("canvasDiv1");
 	autoAdjustSize("canvasDiv2");

	var dayData = data.groupby("day");
	dayData.each(function(i, item){
		item.name = item.day;
	});
	echartLine2D("canvasDiv1", title + "走势情况", dayData, "", showSpace);

	var spaceData = data.groupby("space1");
	spaceData.each(function(i, item){
		item.name = item.space1;
	});
	echartColumn2D("canvasDiv2", title + "分布情况", spaceData, showDay);
}

function showSpace(day) {
	var temp = [];
	data.each(function(i, item){
		if(item.day === day) {
			temp.push(item);
		}
	});

	var result = temp.groupby("space1");
	result.each(function(i, item){
		item.name = item.space1;
	});
	echartColumn2D("canvasDiv2", day + title + "分布情况", result);
}

function showDay(space1) {
	var temp = [];
	data.each(function(i, item){
		if(item.space1 === space1) {
			temp.push(item);
		}
	});

	var result = temp.groupby("day");
	result.each(function(i, item){
		item.name = item.day;
	});
	echartLine2D("canvasDiv1", space1 + title + "走势情况", result, "");
}

</script>
</head>

<body>

	<div style="height:50%">
		<div id='canvasDiv1'></div>
	</div>

	<div style="height:50%">
		<div id='canvasDiv2'></div>
	</div>
	
	<input type='button' id='researh' value='查询条件'/>

</body>
</html>