  .dialog{
    background-color:white;
    border:1px solid #98989C;
    width:99%;
    height:96%;
	  overflow:hidden;
	  padding:10px,10px;
  }

  .dialog XForm\:Box {
     padding-left: 10;
     padding-top: 10;
  }

  .mainBox{
    background-color:white;
    border:1px solid #98989C;
    width:99%;
    height:96%;
    padding:5px;
  }

  body {
    margin: 10px;
    font-size: 12px;
    background-color:#E7E7E7;
    overflow:hidden;
    border:0px;
  }